<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Stat Tracker</title>
	</head>
	<body>

		<h1>Selected Activity:</h1>
		<a href="/api/activities">BACK</a>
		<br>
		{{#activity}}
			{{_id}}
			<br>
			{{name}}
			<br>
			{{create_date}}
			<br>
			<br>
		{{/activity}}
	</body>
</html>
