<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Stat Tracker</title>
	</head>
	<body>

		<form action="/api/activities" method="get">
			<input type="submit" value="See all activities">
		</form>

	</body>
</html>
